#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

    macros {
        CMD_E: CMD_E {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp E>
                , <&macro_release &kp LGUI>;
        };

        CMD_1: CMD_1 {
            compatible = "zmk,behavior-macro"
            #binding-cells = <0>;
            binfings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N1>
                , <&macro_release &kp LGUI>;

        }
        CMD_2: CMD_2 {
            compatible = "zmk,behavior-macro"
            #binding-cells = <0>;
            binfings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LGUI>;

        }
        CMD_3: CMD_3 {
            compatible = "zmk,behavior-macro"
            #binding-cells = <0>;
            binfings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N3>
                , <&macro_release &kp LGUI>;

        }
        CMD_4: CMD_4 {
            compatible = "zmk,behavior-macro"
            #binding-cells = <0>;
            binfings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LGUI>;

        }
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo 1

                &CMD_1    &CMD_2    &CMD_3
                &CMD_4    &CMD_E    &kp D
                &kp Z     &kp X     &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
                &trans

                &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2
                &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_CLR
                &bootloader         &trans         &trans
            >;
        };
    };
};